// - Form tag
// - attributes are given to the form element
// - this mixin insert a table element
mixin form(nameId, action, method)
  form(id=nameId, action=action, method=method || 'POST')&attributes(attributes)
    table.form-table
      block
      

//- New line tag. Only add a <tr> tag
//- attributes are given to the tr element
//-  insert a tr element
mixin formLine()
  tr&attributes(attributes)
    block


//- Input tag
//- attributes are given to the input element
//- insert a td for the label if any, and a td for the input
mixin input(type, name, required)

  //- The i18n input label is built from page filename and the input name, such as the i18n key look like :
  //- '<filename>_<inputName>_label'
  //- i.e. : 'login_password_label' is the key for the password input label in the /login.jade page.
  - var label = filename.substring(filename.replace(/\\/g, '/').lastIndexOf('/') + 1, filename.lastIndexOf('.jade')).replace(/-/g, '_') + '_' + name.replace(/\./g, '_') + '_label';
  - label = i18n.get(label);
  
  if (label)
    td.label
      label.form-label(for=name, class=required ? 'required' : '')=label + ' : '
      
  td.field
    div.form-input-wrapper
      div.validation-error-message(class=name)
      if type === 'textarea'
        textarea.form-input(id=name, name=name)&attributes(attributes)
      else
        input.form-input(type=type, id=name, name=name)&attributes(attributes)
      block
    

//- input text tag
//- attributes are given to the input element
mixin inputText(name, required)
  +input('text', name, required)&attributes(attributes)
  
//- input multiple auto complete tag with input text and selected value area
//- attributes are given to the input element
mixin autocomplete(name, required)
  +input('text', name, required)&attributes(attributes).autocomplete-input
    div.autocomplete-values
  
//- Button container
mixin buttons()
  tr
    td(colspan=42)
      div.buttons&attributes(attributes)
        block
        div.clear
        
//- clicable Button
mixin button()
  div.button&attributes(attributes)
    div.button-text
      block
        
//- button with spécial css.
mixin majorbutton()
  div.major-button(rel=attributes.rel, title=attributes.title)&attributes(attributes)
    span.text
      block