//- Form tag
//- attributes are given to the form element
mixin form(nameId, action, method)
  form(id=nameId, action=action, method=method || 'POST', class=attributes.class)
    table.form-table
      block
      

//- New line tag. Only add a <tr> tag
//- attributes are given to the tr element
mixin formLine()
  tr(class=attributes.class)
    block


//- Input tag
//- attributes are given to the input element
mixin input(type, name, required)

  //- The i18n input label is built from page filename and the input name, such as the i18n key look like : '<filename>_<inputName>_label'
  //- i.e. : 'login_password_label' is the key for the password input label in the /login.jade page.
  - var label = filename.substring(filename.lastIndexOf('\\') + 1, filename.lastIndexOf('.jade')) + '_' + name + '_label';
  - label = i18n.get(label);
  
  if (label)
    td.label
      label.form-label(for=name, class=required ? 'required' : '')=label + ' : '
      
  td.field
    div.form-input-wrapper
      div.validation-error-message(class=name)
      input.form-input(type=type, id=name, name=name, class=attributes.class)
    

//- input text tag
//- attributes are given to the input element
mixin inputText(name, required)
  +input('text', name, required)(class=attributes.class)
  
//- Button container
mixin buttons()
  tr
    td(colspan=42)
      div.buttons(class=attributes.class)
        block
        div.clear
        
//- button with spécial css.
mixin majorbutton()
  div.major-button(rel=attributes.rel, title=attributes.title, class=attributes.class)
    span.text
      block