extends /layout/layout
include /tags/frame
include /tags/form
include /tags/jadeUtils

block javascript
  script(type='text/javascript').

    $(document).ready( function () {
          
      var firstConv = $('.conv-wrapper:first')
      getMessages(firstConv);
      firstConv.addClass('selected');
      
      $('.conv-wrapper').click(function(){
        $('.conv-wrapper.selected').removeClass('selected');
        $(this).addClass('selected');
        getMessages($(this));
      });
      
      $(document).on('form.succes', "form#conversation-form", function(event, result){
        location.reload();
      });
      
      $(document).on('form.succes', "form#message-form", function(event, result){
        $('#content').val('');
        getMessages($('.conv-wrapper.selected'));
      });
    });
    
    function getMessages(jqButton){
      var convId = jqButton.attr('id');
      var params = '';
      if (convId){
        $('#message-form #'+ escape('conversation.id')).val(convId);
        params = '?conversation=' + convId;
      }
      $.post('#{url.GET_MESSAGES}' + params, function (result){
        
        // Chenge the frame title to conversation title
        var messageFrameTitle = $('#' + convId + ' div.msg-content').html();
        setFrameTitle('messages-frame', messageFrameTitle);
        
        $('.msgs-wrapper').html(result);
        bubbleLayout('msgs-wrapper');
      });
    }

block content

  table.conversations-table.inner-padding
    tr
      td
        +frame(i18n.get('message_conversations_frame_title')).convs-wrapper.chats
          +majorbutton()(rel='#{url.CONVERSATION_FORM},500', title=i18n.get('message_conversations_create_tootip')).open-popup.add-chat.tooltip= i18n.get('button_create')
          each conv in conversations
            div(id=conv.id).conv-wrapper
              div
                span= i18n.get('message_conversations_envelope', moment(conv.date_ouverture).format('LLLL'))
              div.msg-content= conv.titre
              div.user-wrapper= i18n.get('message_conversations_chatters')
                +printArray(conv.users, ', ', ' et ', 'user-element', 'firstname')
  
      td
        +frame(i18n.get('message_messages_frame_title')).chat.messages-frame
          +form('message-form', url.CONVERSATION, 'POST')
            +input('hidden', 'conversation.id', true)
            +formLine()
              +input('textarea','content', true)(maxlength=3000,rows=3,cols=200,placeHolder= i18n.get('message_form_placeHolder'),wrap='hard', autofocus='true').add-message
              td
                +button.submit-button.add-chat(rel='message-form')= i18n.get('message_form_add')
          div.msgs-wrapper
